<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Folium Map</title>
    <style>
		h1 { text-align: center; }
	</style>
</head>
<body>
    <h1>서울시내 스타벅스 매장옆엔 반드시 이디야 매장이 있는 것인가? 🌏</h1>
    <iframe class="map", src="/map" width="1910px" height="740px"></iframe>
    <h3><b style="background-color: lightcoral; color: lightcyan;">
        이디야: Blue / 스타벅스: Green
    </b></h3>
</body>
</html>